.App {
  text-align: center;

}

.App-header {
  background-color:#f1eeee ;
  height: 150px;
}

body{
  background-color:#EEEEEE ;
}

.App
{
  display: grid;
  place-items: center;
}

.FooterMain
{
  padding-top: 100px;
  width: 1281px;
}

.valid
{
  border-color: #2196F3;;
  border-style: solid;


}

.error
{
  border-color: #F56451;
  border-style: solid;
}